.player {
  width: 90vmin;
  padding-bottom: 56.3%;
  margin-top: 10px;
  max-width: 100%;
  background-color: #000;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 599px) {
    width: 100vmin;
  }
}

#player {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  outline: 0;
}
