.not-found {
  text-align: center;
  h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(159, 173, 189);
  }
  .search-cancel {
    font-size: 16px;
    color: rgb(157, 177, 199);
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
